In [13]:
import pandas as pd
try:
    df1=pd.read_csv("上市公司資料.csv")
except:
    pass

df2 = df1.reindex(columns=['出表日期','資料年月','公司代號','公司名稱','產業別','營業收入-當月營收'])
df2

        出表日期   資料年月  公司代號 公司名稱   產業別  營業收入-當月營收
0    1110912  11108  1102   亞泥  水泥工業    7069221
1    1110912  11108  1108   幸福  水泥工業     390053
2    1110912  11108  1109   信大  水泥工業     478276
3    1110912  11108  1110   東泥  水泥工業     176935
4    1110912  11108  1213   大飲  食品工業      38696
..       ...    ...   ...  ...   ...        ...
834  1110912  11108  9942   茂順    其他     352730
835  1110912  11108  9943  好樂迪  觀光事業     212912
836  1110912  11108  9944   新麗    其他     179660
837  1110912  11108  9955   佳龍    其他      81881
838  1110912  11108  9958  世紀鋼  鋼鐵工業     757968

[839 rows x 6 columns]

In [14]:
df3=df2.drop(columns=["公司代號"])
#df3[df3["產業別"]=="水泥工業"]

In [16]:
it=set()
for i in df3["產業別"]:
    it.add(i)
print(it)

{'通信網路業', '其他', '半導體業', '觀光事業', '造紙工業', '貿易百貨', '建材營造', '化學工業', '生技醫療業', '電機機械', '油電燃氣業', '鋼鐵工業', '塑膠工業', '資訊服務業', '食品工業', '電器電纜', '紡織纖維', '航運業', '水泥工業', '電腦及週邊設備業', '汽車工業', '橡膠工業', '其他電子業', '金融保險業', '電子零組件業', '電子通路業', '玻璃陶瓷', '光電業'}

In [19]:
display(df3.values[0,:])

array([1110912, 11108, '亞泥', '水泥工業', 7069221], dtype=object)