In [2]:
import pandas as pd
a=pd.read_csv("每日各站進出站人數2021.csv")
b=pd.read_csv("每日各站進出站人數2020.csv")
c=pd.concat([a,b])
c

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20210101      900             7223             7425
1       20210101      910              972             1100
2       20210101      920             1505             1698
3       20210101      930             4385             4657
4       20210101      940             1785             1967
...          ...      ...              ...              ...
86927   20201231     7360             3523             3602
86928   20201231     7361                3               18
86929   20201231     7362               28               34
86930   20201231     7380              609              604
86931   20201231     7390              377              444

[173471 rows x 4 columns]