In [9]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1

a  1   -3.193472
   2    0.728472
   3    1.821961
b  1   -0.735190
   2    1.677536
c  3   -0.198867
   1    0.496193
d  2   -1.001883
   3   -0.407443
dtype: float64

In [10]:
df1 = s1.unstack(fill_value=0)
df1

          1         2         3
a -3.193472  0.728472  1.821961
b -0.735190  1.677536  0.000000
c  0.496193  0.000000 -0.198867
d  0.000000 -1.001883 -0.407443

In [11]:
df1.stack()

a  1   -3.193472
   2    0.728472
   3    1.821961
b  1   -0.735190
   2    1.677536
   3    0.000000
c  1    0.496193
   2    0.000000
   3   -0.198867
d  1    0.000000
   2   -1.001883
   3   -0.407443
dtype: float64

In [12]:
df1 = pd.DataFrame(np.arange(12).reshape(4,3),
             index=[['a','a','b','b'],[1, 2, 1, 2]],
             columns=[['台北','台北','台中'],['Green','Red','Green']])
df1

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [13]:
df1.index.names = ['key1','key2']
df1

             台北        台中
          Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [14]:
s2 = df1.stack(level=['顏色','縣市'])
s2

/tmp/ipykernel_2213/2728467743.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  s2 = df1.stack(level=['顏色','縣市'])

ValueError: level should contain all level names or all level numbers, not a mixture of the two.

In [ ]:
s2.unstack(level=['key1','顏色'])

NameError: name 's2' is not defined