In [1]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1

a  1    0.216185
   2   -0.982254
   3   -0.656874
b  1   -0.008303
   2   -0.115166
c  3   -0.214332
   1   -1.486046
d  2   -0.542547
   3   -1.072034
dtype: float64

In [6]:
df1 = s1.unstack(fill_value=0)
df1

          1         2         3
a  0.216185 -0.982254 -0.656874
b -0.008303 -0.115166  0.000000
c -1.486046  0.000000 -0.214332
d  0.000000 -0.542547 -1.072034

In [7]:
df1.stack()

a  1    0.216185
   2   -0.982254
   3   -0.656874
b  1   -0.008303
   2   -0.115166
   3    0.000000
c  1   -1.486046
   2    0.000000
   3   -0.214332
d  1    0.000000
   2   -0.542547
   3   -1.072034
dtype: float64

In [13]:
s1['a']

1    0.216185
2   -0.982254
3   -0.656874
dtype: float64

In [14]:
s1['a'][:2]

1    0.216185
2   -0.982254
dtype: float64

In [18]:
df1 = pd.DataFrame(np.arange(12).reshape(4,3),
             index=[['a','a','b','b'],[1, 2, 1, 2]],
             columns=[['台北','台北','台中'],['Green','Red','Green']])
df1

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [20]:
df1.index.names = ['key1','key2']
df1

             台北        台中
          Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [22]:
df1.columns.names = ['縣市','顏色']
df1

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [25]:
s2 = df1.stack(level=['顏色','縣市'])
s2

/tmp/ipykernel_12212/2728467743.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  s2 = df1.stack(level=['顏色','縣市'])

key1  key2  顏色     縣市
a     1     Green  台北     0.0
                   台中     2.0
            Red    台北     1.0
      2     Green  台北     3.0
                   台中     5.0
            Red    台北     4.0
b     1     Green  台北     6.0
                   台中     8.0
            Red    台北     7.0
      2     Green  台北     9.0
                   台中    11.0
            Red    台北    10.0
dtype: float64

In [27]:
s2.unstack(level=['key1','顏色'])

key1        a          b
顏色      Green  Red Green   Red
key2 縣市
1    台北   0.0  1.0   6.0   7.0
     台中   2.0  NaN   8.0   NaN
2    台北   3.0  4.0   9.0  10.0
     台中   5.0  NaN  11.0   NaN

In [28]:
s2.unstack(level=['key1','顏色','縣市'])

key1     a               b
顏色   Green       Red Green         Red
縣市      台北   台中   台北    台北    台中    台北
key2
1      0.0  2.0  1.0   6.0   8.0   7.0
2      3.0  5.0  4.0   9.0  11.0  10.0